h1 {
  text-align:left;
  text-decoration: underline;
  letter-spacing: 8px;
  }

h2 {
  text-decoration:underline ;
  text-align:left;
}

p {
  text-align:left;

}
body {
  background-color: #E0ECFA;
  }

  
