h1 {
  text-align:center;
  text-decoration
  letter-spacing: 10px;
  padding:10px;
  background: #3A6A3B;
  }

h2 {
  text-decoration: ;
  text-align:left;
  background: #D0FAD1;
}

p {
  text-align:left;
  color:#0C1E0D;

}
body {
  background-color: #BAD1BB;
  }

.name span {
  background-color: pink;
  text-color:black;

}
