.boxed {
  border-style:dashed;
  border-color:pink;
  margin: 0;

}

#content{
  border: 5px;
}


h1 {
  text-align:left;
  text-decoration: underline;
  letter-spacing: 6px;
  }

h2 {
  text-decoration:underline ;
  text-align:default;
}


p {
  text-align:left;
}

body {
  background-color: #ffe6e6;
  }
