h1 {
  text-align:center;
  text-decoration: underline;
  letter-spacing: 6px;
  }

h2 {
  text-decoration:underline ;
  text-align:center;
}


h3 {
  text-align: center;
}

p {
  text-align:center;
}

body {
  background-color: #D7E4FE;
  }

#center{
  text-align:center;
}
